@media (max-width:824px){
	 [class*="col-"]{
    	width:100%;
    }
    .col-5{
    	display:none;
    }
    header{
    	width:100%;
    }
    iframe{
       width:100%;
    }
    .verde{
    	width:95%;
    }
    .cuadro{
    	width:80%;
    }
    .box{
       height:490px;
    }
    .head{
    	width:95%;
    }
    footer{
    	width:100%;
    }
    .responsive{
    	display:inline-block;
    	float:right;
    	color:white;
    	font-size:50px
    	margin-left:30%;
    	margin-bottom:5%;
    }
    .lista{
    	display:none;
    }
    .container{
    	margin-left:3%;
    	margin-right:0;
    }
}